body p{
    color: #5b5b5b;
}
body{
    font-family: Poppins, sans-serif
}
.margin-div{
    margin: 0 5%;
}
/* NAVIGATION*/
#navbarNav{
    justify-content: end;
}
#navbarNav a:hover{
color: orange;
}
.logo a{
    font-size: 24px;
    color: #063255;
}
.nav-item{
    padding:10px;
}
.nav-button{
    margin-left: 20px;
    padding: auto 10px ;
    background-color: rgba(245, 138, 7, 0.349);
    border-radius: 31px;
    align-items: center;
    color: #f58a07;
    justify-content: center;
}
/* MAIN SECTION*/

.main-section{
    background-color: #DCEAF5;
    font-family: 'Poppins', sans-serif;
}
.main-section h1{
    font-size: 64px;
    font-weight: bold;
    font-weight: 600;
    color: #063255;
}
.main-section-buttons a{
    text-decoration: none;
    padding: 13px 35px;
}
.main-section-buttons{
    display: flex;
    justify-content: space-between;
}
.main-section-button-1{
    border-style: solid;
    background-color: #f58a07;
    border-radius: 25px;
    border:none;
    border-width: 10px;
    color: white;
}
.main-section-button-2{
    padding-right: 12rem;
    color: #5b5b5b;
    font-size: 20px;
}
.main-section-paragraph2{
    padding-top: 7rem;
    font-size: 18px;
}
.main-section-image-container{
    max-height: 100%;
}
/*  SECOND SECTION*/
.second-section{
    padding: 4rem 0 4rem 0
}
.second-section p{
    color:#5b5b5b;
    padding-top: 10px;
}
.second-section-h2 h2{
    color: #063255;
    font-size: 50px;
}
.second-section img{
    border-radius: 30px;
    max-height: 16rem;
    width: 100%;
}
.second-section a{
    text-decoration: none;
    color: #f58a07;
}
.second-section h3{
padding-top: 2rem;
}
/* THIRD SECTION*/
.third-section{
    background-color: #DCEAF5;
}
.top-part h2{
    color: #063255;
    font-weight: 600;
    font-size: 2rem;
}
.top-part{
    display: flex;
    justify-content: space-between;
    padding: 6rem 0 4rem 0;
}
.about-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5rem;

}
.home-features-item{
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    border:white;
    align-items: flex-start;
    padding: 10px 20px 10px 20px
}
/* FOURTH SECTION*/
.fourth-section{
    padding: 8rem 0 8rem 0;
}
.header-about h2{
    color: #063255;
    font-weight: 600;
    font-size: 2.3rem;
    padding-bottom: 20px;

}
.awards{
    display: flex;
    padding-top: 3rem;
}
.awards p{
    padding-top: 1rem;
}
.awards h4{
    padding-top: 1rem;
}
.img-fluid{
    max-width: 100%;
}
.image-container{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}
.image-container::after{
    content: '';
    width: 150px;
    height: 100%;
    background-color: #f58a07;
    position:absolute;
    mix-blend-mode: multiply;
    top: 0%;
    left: 0%;
}
.awards h3{
    color: #f58a07;
    font-weight: 600;
}
/* FIFTH SECTION*/
.fifth-section-container{
    background-color: #DCEAF5;
}
.fifth-section{
    padding: 10rem 0 8rem 0;
}
.article h1{
    color: #063255;
    font-weight: 600;
    font-size: 3.1rem;
    padding-bottom: 2rem;
    align-items: center;
}
.article p{
    font-size: 18px;
}
.first-para{
    padding-bottom: 1rem;
}
.article a{
    text-decoration: none;
    color: #f58a07;
}
.fifth-section-image-container{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}
.fifth-section-image-container::after{
    content: '';
    width: 150px;
    height: 100%;
    background-color: #f58a07;
    position:absolute;
    mix-blend-mode: multiply;
    top: 0%;
    left: 0%;
}
.fifth-section{
    background-color: #DCEAF5;
    border-radius: 30px;
    margin: 0 40px 0 40px;
    padding: 40px 40px;
}
.fifth_section_btn:checked + label{
    background-color:white;
}
.fifth_section_btn{
    display: none;
    justify-content: space-between;
}
.button_1{
    border:white solid 10px;
    border-radius: 16px;
    align-items: center;
}
.button_2{
    border:white solid 10px;
    border-radius: 16px;
    align-items: center;
    background-color: white;
}
.button_3{
    border:white solid 10px;
    border-radius: 16px;
    align-items: center;
    background-color: white;
}
/* SIXTH SECTION*/
.sixth-section{
    padding:10rem 0;
}
.sixth-section-about{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 40px 150px;
    background-color: #f58a07;
    margin-right: -1rem;
}
.sixth-section-about h2{
    font-size: 2.8rem;
    color: white;
}
.sixth-section-about a{
    text-decoration: none;
    color: #f58a07;
    border:white solid 10px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}
.sixth-section-anchor{
    padding-right: 10rem;
    padding-top: 3rem;
}
.sixth-section-image{
background-image: url(/images/experience-image.png);
background-size: cover;
max-width: 100%;
max-height: 100%;
}
/* SEVENTH SECTION*/
.seventh-section{
    padding-bottom: 10rem;
}
.seventh-section-description h2{
    color: #063255;
    font-size: 3rem;
    text-align: start;
    font-weight: 500;
}
.ceo-part{
    display: flex;
}
.ceo-part{
    padding-top: 20px;

}
.about-ceo{
    padding: 1rem 0 0 1.5rem;
}
.ceo-name{
    color: #063255;
    font-size: 25px;
}
.ceo-position{
    color: #f58a07;
    font-size: 18px;
}
.seventh-section-image-container{
    max-height: 100%;
}
/*LAST SECTION*/
.last-section{
    background-color: #DCEAF5;
    padding:10rem 0;
}
.blog-header{
    padding-bottom: 5rem;
}
.blog-header h2{
    font-size: 2rem;
}