body p{
    color: #5b5b5b;
}
body{
    font-family: Poppins, sans-serif
}
.margin-div{
    margin: 0 20%;
}
/* NAVIGATION*/
#navbarNav{
    justify-content: end;
}
#navbarNav a:hover{
color: orange;
}
.navbar-light .navbar-brand{
    font-size: 24px;
    color: #063255;
    font-weight: 700;
}
    
.nav-item{
    padding:10px;
}
.nav-button{
    margin-left: 20px;
    padding: auto 10px ;
    background-color: rgba(245, 138, 7, 0.349);
    border-radius: 31px;
    align-items: center;
    color: #f58a07;
    justify-content: center;
}
/* MAIN SECTION*/
.main-section{
    background-color: #DCEAF5;
    font-family: 'Poppins', sans-serif;
}
.main-content{
    padding-top: 5rem;
}
.main-section-logo{
    padding-bottom: 2rem;   
}
.main-section h1{
    font-size: 64px;
    font-weight: bold;
    font-weight: 600;
    color: #1d3444;
    padding-bottom: 2rem;
}
.main-section-buttons a{
    text-decoration: none;
    padding: 13px 35px;
}
.main-section-buttons{
    display: flex;
    align-items: center;
}
.main-para1{
    padding-bottom: 2rem;
}
.main-section-button-1{
    border-style: solid;
    background-color: #f58a07;
    border-radius: 25px;
    border:none;
    color: white;
}
.main-section-button-2{
    padding-right: 12rem;
    color: #5b5b5b;
    font-size: 20px;
    padding-left: 4rem;
}
.main-section-paragraph2{
    padding-top: 7rem;
    font-size: 18px;
}
.main-section-image-container{
    max-height: 100%;
    display: inline-block;
}
/*  SECOND SECTION*/
.second-section{
    padding: 4rem 0 4rem 0
}
.second-section-para{
    padding-top: 10px;
    padding-bottom: 2rem;
}
.second-section-h2 h2{
    color: #1d3444;
    font-size: 50px;
}
.second-section img{
    border-radius: 30px;
    max-height: 16rem;
    width: 100%;
}
.second-section a{
    text-decoration: none;
    color: #f58a07;
}
.second-section h3{
padding-top: 2rem;
}
/* THIRD SECTION*/
.third-section{
    background-color: #DCEAF5;
}
.top-part h2{
    color: #1d3444;
    font-weight: 600;
    font-size: 2rem;
}
.top-part{
    display: flex;
    justify-content: space-between;
    padding: 6rem 0 4rem 0;
}
.about-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5rem;

}
.home-features-item{
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    border:white;
    align-items: flex-start;
    padding: 10px 20px 10px 20px
}
/* FOURTH SECTION*/
.fourth-section{
    padding: 8rem 0 8rem 0;
}
.header-about{
    padding-top: 5rem;
}
.header-about h2{
    color: #1d3444;
    font-weight: 600;
    font-size: 2.3rem;
    padding-bottom: 20px;

}
.awards{
    display: flex;
    padding-top: 3rem;
}
.small{
    padding-right: 3rem;
}
.awards p{
    padding-top: 0.5rem;
}
.awards h4{
    padding-top: 0.5rem;
}
.img-fluid{
    max-width: 100%;
}
.image-container{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}
.image-container::after{
    content: '';
    width: 150px;
    height: 100%;
    background-color: #f58a07;
    position:absolute;
    mix-blend-mode: multiply;
    top: 0%;
    left: 0%;
}
.awards h3{
    color: #f58a07;
    font-weight: 600;
    font-size: 2.3rem;
}
/* FIFTH SECTION*/
.fifth-section-container{
    background-color: #DCEAF5;
    justify-content: center;
}

.fifth-section-header{
    padding-top: 5rem;
}
.fifth-section-top-btns{
    padding-top: 2rem;
}
.article h1{
    color: #1d3444;
    font-weight: 600;
    font-size: 3.1rem;
    padding-bottom: 2rem;
    align-items: center;
}
.article p{
    font-size: 18px;
}
.first-para{
    padding-bottom: 1rem;
}
.article a{
    text-decoration: none;
    color: #f58a07;
}
.fifth-section-image-container{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    padding-left: 7rem;
}
.fifth-section-image-container::after{
    content: '';
    width: 150px;
    height: 100%;
    background-color: #f58a07;
    position:absolute;
    mix-blend-mode: multiply;
    top: 0%;
    left: 7rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.fifth-section{
    background-color: #DCEAF5;
    border-radius: 30px;
    padding: 40px 40px 10rem 40px;
    margin:0 20%;
}
.fifth_section_btn:checked + label{
    background-color:white;
}
.fifth_section_btn{
    display: none;
    justify-content: space-between;
}
.button_1{
    border:white solid 10px;
    border-radius: 16px;
    align-items: center;
}
.button_2{
    border:white solid 10px;
    border-radius: 16px;
    align-items: center;
    background-color: white;
}
.button_3{
    border:white solid 10px;
    border-radius: 16px;
    align-items: center;
    background-color: white;
}
/* SIXTH SECTION */
.sixth-section{
    padding:10rem 10%;
}
.sixth-section-image-container{
    overflow: hidden;
    height: 26.7rem;
    padding: 0;
}
.sixth-section-container .col-12 .col-md-6{
    padding: 0;
}
.sixth-section-item-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 80px 160px;
    background-color: #f58a07;
    margin-right: -1rem;
}
.sixth-section-item-container h2{
    font-size: 2.8rem;
    color: white;
}
.sixth-section-item-container a{
    text-decoration: none;
    color: #f58a07;
    border:white solid 10px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}
/* SEVENTH SECTION*/
.seventh-section{
    padding-bottom: 10rem;
}
.seventh-section-description h2{
    color: #1d3444;
    font-size: 3rem;
    text-align: start;
    font-weight: 500;
    padding-top: 5rem;
}
.ceo-part{
    display: flex;
    padding-top: 2rem;
}
.seventh-section-para{
    padding-top: 2rem;
}
.about-ceo{
    padding: 1rem 0 0 1.5rem;
}
.ceo-name{
    color: #1d3444;
    font-size: 25px;
}
.ceo-position{
    color: #f58a07;
    font-size: 18px;
}
.seventh-section-image-container .img-fluid{
    max-height: 100%;
    justify-content: center;
}
/*LAST SECTION*/
.last-section{
    background-color: #DCEAF5;
    padding: 8rem 0;
}
.blog-header{
    padding-bottom: 5rem;
}
.blog-header h2{
    font-size: 2rem;
}
.card{
    border-radius: 20px;
}
.card img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card a{
    text-decoration: none;
    color: #f58a07;
}
/* FOOTER*/
.footer{
    background-color: #063255;
    color: white;
    padding-top: 4rem;
}
.footer-logo{
    padding-bottom: 2rem;
}
.about-company{
   padding:0 3rem 2rem 0;
}
.footer-contract{
    padding: 0 3rem 2rem 0;
}
.footer p{
    color: white;
}
.list-none2{
    list-style-type: none;
}
.list-none3{
    list-style-type: none;
}
.list-none3 a{
    text-decoration: none;
    color: white;
}
.list-none4{
    list-style: none;
}
.footer-part1{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer-part2{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.email-part{
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    align-items: center;
    justify-content: center;
    margin: 2rem 10rem 0 0;
    border-right-width: 10rem;
    border:none
}
.subscribe-button{
    color: white;
    background-color: #f58a07;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 18px;
    margin-top: 1rem;
}
.term{
    padding-top: 5rem;
}
.copyright{
    padding-top: 5rem;
}